h1 {
    text-align: center;
    margin: auto;
}
article {
    display: flex;
    text-align: center;
    justify-content: center;
}

.btn {
    background-color: blueviolet;
    color: white;
    font-size: 30px;
    font-family: cursive;
    padding: 5px 10px;
}

.shape {
    height: 400px;
    width: 800px;
    border: 5px solid black;
    border-radius: 50%;
    margin: 50px 75px;
}